{% extends 'base.html' %}
{% block content %}
<div class="reset_password_c_form_wrapper">
  <div class="p-3"></div>
  <div class="container">
    <div class="">
      <h3 style="color: rgb(245, 82, 245); font-weight: 400">
        <i class="fas fa-check-circle mr-2"></i>Password Reset Complete
      </h3>
    </div>
    <div>
      <p>Your password has been set. You may go ahead and login now.</p>
      <a href="{% url 'login' %}" class="pr_btn">Login</a>
    </div>
  </div>
</div>
{% endblock %}
