<!-- {% extends 'base.html' %}
{% block content %}
 <form action="." method="post">
    <form action="http://dpaste.com/" name="pasteform" id="pasteform" method="post">
  {%csrf_token%} 
  {{form.as_p}}
  <div id="pastebinTraceback" class="pastebin">
    <input type="hidden" name="language" value="PythonConsole">
    <input type="hidden" name="title"
      value="TemplateDoesNotExist at /reset/MQ/set-password/">
    <input type="hidden" name="source" value="Django Dpaste Agent">
    <input type="hidden" name="poster" value="Django">
    <textarea name="content" id="traceback_area" cols="140" rows="25"> -->

  <!-- <div class="main">
    <input  class="un "type="hidden" name="language" value="PythonConsole">
    <input  class="un "type="hidden" name="title"
      value="TemplateDoesNotExist at /reset/MQ/set-password/">
    <input type="hidden" name="source" value="Django Dpaste Agent">
    <input type="hidden" name="poster" value="Django">
    <textarea name="content" id="traceback_area" cols="140" rows="25"> -->
    <!-- <p class="sign" align="center">Enter new password</p>
    <p class="sign" align="center">Please enter your new password twice so we can verify you typed it in correctly.</p>
    <p><label for="id_email" ></label>
    <input type="email"  class="un "name="email" autocomplete="email" maxlength="254" required id="id_email"placeholder="Email">
  </p>
    <button type="Submit" align="center" class="submit"value="Sende-mail">Send Email</button> -->
  <!-- </div>
</form>
{% endblock %} --> 

<!-- <form action="http://dpaste.com/" name="pasteform" id="pasteform" method="post">

    <div id="pastebinTraceback" class="pastebin">
      <input type="hidden" name="language" value="PythonConsole">
      <input type="hidden" name="title"
        value="TemplateDoesNotExist at /reset/MQ/set-password/">
      <input type="hidden" name="source" value="Django Dpaste Agent">
      <input type="hidden" name="poster" value="Django">
      <textarea name="content" id="traceback_area" cols="140" rows="25"> -->