{% extends 'base.html' %}
{% block content %}
<form action="." method="post">
  {%csrf_token%} 

  <div class="main">
    <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
    <div class="done-icon" style="margin: 0 auto;width: 100%;padding-top: 50px;">
      <img style="margin: 0 auto;width: 120px;" src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREUPU_AlBjlr2vvJ9OBQoUvfXqGyVw2uSlpQ&usqp=CAU" class="marginauto">
    </div>
    <p class="sign" align="center">Check Your Email. </p>
    
  </div>
</form>
{% endblock %}
