{% extends 'base.html' %}
{% block content %}
<div class="reset_password_c_form_wrapper">
  <div class="p-5"></div>
  <div class="reset_password_c_form">
    <p style="margin-bottom: 10px; font-weight: 500; color: rgb(245, 82, 245)">Please Enter Your New Password Twice</p>
    <form  action="." method="post">
      {%csrf_token%} 
      <div>
        <label for="new_password1">New Password</label>
        <input  name="new_password1" type="password" id="new_password1"  required />
      </div>
      <div>
        <label for="new_password2">Confirm Password</label>
        <input id="new_password2" name="new_password2" type="password" required  />
      </div>
      <button class="pr_btn" type="submit">Change my Password</button>
    </form>
  </div>
</div>
{% endblock %}