@font-face
{
    src: url("one.otf");
    font-family: fontitis;
}

@font-face
{
    src: url("two.otf");
    font-family: fontone;
}

body{
    background-image: url(images/nasty_fabric_@2X.png);
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(204, 204, 204);
    color: brown;


}
h1{
    font-family: fontitis;
    margin-top: 100px;
}

.colorone{
    background-color: rgb(228, 228, 228);
    margin-top: 100px;
    height: 800px;
}

.cen{
    


    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}


.margin-sm{
    margin-top: 50px;
    
    
}

margin-bt{
    margin-bottom: 50px !important;
}

.style1{
    border: 2px solid rgb(167, 167, 167);
     padding: 50px; margin-left: 70px;
     border-radius: 20px;
     font-weight: 800;
}

.col1{

    background-color: rgb(91, 91, 248);
    color: white;
    border: 2px solid rgb(91, 91, 248);
}
.col2{
    background-color: rgb(255, 184, 77);
    color: white;
    border: 2px solid rgb(255, 184, 77);
}

.col4{
    background-color: rgb(96, 180, 48);
    color: white;
    border: 2px solid rgb(96, 180, 48);
}
.col5{
    background-color:  rgb(255, 118, 100);
    color: white;
    margin-right: 100px;
    border: 2px solid  rgb(255, 118, 100);
}



.makehigh{
    font-family: fontone;
    font-size: 18px;
}

.fontby{
         
    font-family: fontone;
    font-size: 18px;
}


.butttwo{
    background-color: rgb(0, 0, 0) !important;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 50px !important;
    width: 200px;
    margin-top: 50px;
    margin-left: 165px;

}