@font-face
{
    src: url("one.otf");
    font-family: fontitis;
}

@font-face
{
    src: url("two.otf");
    font-family: fontone;
}

body{
    background-image: url(images/nasty_fabric_@2X.png);
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat; 
    /* color: brown; */
  

}

h1{
    font-family: fontitis;
    margin-top: 100px;
}

.colorone{
    background-color: rgb(228, 228, 228);
    margin-top: 100px;
    height: 650px;
}

.cen{
    
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}


.margin-sm{
    margin-top: 50px;
    font-family: fontone;
    font-size: 20px;
}

margin-bt{
    margin-bottom: 50px !important;
}

.style1{
    border: 2px solid rgb(167, 167, 167);
     padding: 50px; 
     margin-left: 65px;
     border-radius: 20px;
     font-weight: 800;
}
#click{
    cursor: grab;
}


.col1{
    background-color: rgb(91, 91, 248);
    color: white;
    border: 2px solid rgb(91, 91, 248);
}
.col2{
    background-color: rgb(255, 184, 77);
    color: white;
    border: 2px solid rgb(255, 184, 77);
}
.col3{
    background-color: rgb(255, 118, 100);
    color: white;
    border: 2px solid rgb(255, 118, 100);
}
.col4{
    background-color: rgb(96, 180, 48);
    color: white;
    border: 2px solid rgb(96, 180, 48);
}
.col5{
    background-color: rgb(41, 41, 41);
    color: white;
    border: 2px solid rgb(41, 41, 41);
}
.col6{
    background-color: rgb(57, 13, 129);
    color: white;
    border: 2px solid rgb(57, 13, 129);
}

/* Podium CSS */
@font-face {
    font-family: DaggerSquare;
    src: url('fonts/podium-font.woff') format('woff'),
      url('fonts/podium-font.ttf') format('truetype');
  }

  #podium-box {
    margin: 0 auto;
    display: flex;
  }

  .podium-number {
    font-family: DaggerSquare;
    font-weight: bold;
    font-size: 4em;
    color: white;
  }

  .step-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .step-container > div:first-child {
    margin-top: auto;
    text-align: center;
  }

  .step {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    border: 3px solid #c24dfd;
    border-bottom: 0px;
    box-shadow: 1px 3px 10px #473650;
  }

  .bg-blue {
    background-color: #ac18f7;
  }

  #first-step {
    height: 100%;
    z-index: 100;
  }
  #fourth-step {
    height: 45%;
    border-left: 0px;
  }
  #fifth-step {
    height: 35%;
    border-right: 0px;
  }
  #second-step {
    height: 75%;
    border-right: 0px;
  }

  #third-step {
    height: 65%;
    border-left: 0px;
    z-index: 90;
  }
  .winner_name {
    font-weight: 500;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    transform: rotate(-10deg);

    -webkit-transform: rotate(-10deg);

    -moz-transform: rotate(-10deg);

    -ms-transform: rotate(-10deg);

    -o-transform: rotate(-10deg);

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-shadow: 2px 2px 2px black;
  }
  .top_wrapper {
    background-color: #6c08ca;
  }
  .bounce{
    background-color: green;
    color : red;
  }
  .trophy {
    color: rgb(250, 171, 74);
    text-shadow: 2px 2px 2px black;
  }


  .top5_text {
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgb(43, 42, 42);
    padding: 0 20px;
    margin-top: -10px;
  }

  /* -------- Reset Password CSS */
.reset_password_c_form_wrapper {
      width: 100%;
      height: 100vh;
      background-color: rgb(253, 232, 252);
    }
    .reset_password_c_form {
      width: 400px;
      height: 250px;
      border-radius: 20px;
      margin: 0 auto;

      padding-top: 20px;
      box-shadow: 5px 5px 10px #ddd;
      background-color: white;
      padding: 15px 25px;
    }
    .reset_password_c_form input {
      width: 90%;
      display: block;
      border: 1px solid rgb(255, 140, 197);
      border-radius: 40px;
      padding: 3px 10px;
      margin-bottom: 7px;
      outline: none;
    }
    .reset_password_c_form label {
      margin-bottom: 5px;
      font-size: 13px;
    }
    .reset_password_c_form input:focus {
      width: 100%;
      outline: none;
      transition: all 0.3s ease;
    }
    .pr_btn {
      padding: 6px 10px;
      outline: none;
      background: linear-gradient(to right, #9933ff 0%, #ff00ff 100%);
      border-radius: 40px;
      border: none;
      font-weight: 700;
      margin-top: 10px;
      color: white;
      font-size: 14px;
    }
  
