{% extends 'base.html' %}
{% block content %}
<div class="row top_wrapper mb-5">
        <div class="container">
      <div class="col">
        <div class="row mt-4 top5_text_wrapper text-center">
          <p class="m-auto top5_text text-white">Top 5 in {{category}}</p>
        </div>
        <div id="podium-box" class="row mt-4" style="height: 400px">
          <div class="col-sm-4 step-container m-0 p-0">
            <div class="winner_name">{{user5}}🎉</div>
            <div
              id="fifth-step"
              class="bg-blue step centerBoth podium-number"
            >
              5
              <br>
              
            </div>
          </div>
          <div class="col-sm-4 step-container m-0 p-0">
            <div class="winner_name">{{user2}}🎉</div>
            <div
              id="second-step"
              class="bg-blue step centerBoth podium-number"
            >
              <i class="trophy fas fa-medal"></i>2
              <br>

            </div>
           
          </div>
          <div class="col-sm-4 step-container m-0 p-0">
            <div class="winner_name">{{user1}}🎉</div>
            <div
              id="first-step"
              class="bg-blue step centerBoth podium-number"
            >
              <i class="trophy fas fa-trophy"></i>1
              
              <br>

            </div>
          </div>
          <div class="col-sm-4 step-container m-0 p-0">
            <div class="winner_name">{{user3}}🎉</div>
            <div
              id="third-step"
              class="bg-blue step centerBoth podium-number"
            >
              <i class="trophy fas fa-medal"></i>3
              <br>

            </div>
          </div>
          <div class="col-sm-4 step-container m-0 p-0">
            <div class="winner_name">{{user4}}🎉</div>
            <div
              id="fourth-step"
              class="bg-blue step centerBoth podium-number"
            >
              4
              <br>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    console.log('{{user1}}')
    console.log('{{user2}}')
    console.log('{{user3}}')
    console.log('{{user4}}')
    console.log('{{user5}}')
  </script>
{% endblock %}