{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>QuizApp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://kit.fontawesome.com/a215bce284.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
    {% if user.is_authenticated %}
    <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
    <span> | </span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
    <span> | </span>
    {% else %}
    <span><a href="{% url 'login' %}">Login</a></span>
    <span> | </span>
    <span><a href="{% url 'signup' %}">SignUp</a></span>
    {% endif %}
    

    {% block content %}
    {% endblock %}
    <div class="container mt-3">
        <footer class="bg-dark p-3 text-center text-white">
            Copyright &copy; 2021. All Rights Reserved, QuizApp. 
        </footer>
    </div>
</body>

</html>